@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-gray-1: oklch(0% 0 none);
  --color-gray-2: oklch(18.3% 0 none);
  --color-gray-3: oklch(23.9% 0 none);
  --color-gray-4: oklch(27.5% 0 none);
  --color-gray-5: oklch(30.8% 0 none);
  --color-gray-6: oklch(34.7% 0 none);
  --color-gray-7: oklch(40% 0 none);
  --color-gray-8: oklch(49% 0 none);
  --color-gray-9: oklch(53.4% 0 none);
  --color-gray-10: oklch(58.1% 0 none);
  --color-gray-11: oklch(76.7% 0 none);
  --color-gray-12: oklch(94.8% 0 none);

  /* Custom font */
  --font-sans: "Geist", sans-serif;

  /* Custom inset shadow */
  --inset-shadow-icon-top: inset 0 5px 8px rgb(0 0 0 / 0.05);
  --inset-shadow-icon-bottom: inset 0 -1.5px 8px rgb(0 0 0 / 0.05);
  --inset-shadow-icon-center: inset 0 0 1px rgb(0 0 0 / 0.05);
  --inset-shadow-icon-highlight: inset 0 1px rgb(0 0 0 / 0.05);
}
